{% extends 'adminn/adminbase.html' %}
{% block content %}

<h2 class="text-center alert alert-info">Order List</h2>


        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order No</th>
                <th>Full Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>City</th>
                <th>Order Total</th>
                <th>Tax</th>
                <th>Status</th>
                <th>is_ordered</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <th scope="row"><a href="{% url 'adminn:order_detaill' order.order_number %}">{{order.order_number}}</a></th>
                <td>{{ order.full_name }}</td>
                <td>{{ order.phone_number }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.city }}</td>
                <td>{{ order.order_total}}</td>
                <td>{{ order.tax }}</td>
                <td>{{ order.status }}</td>       
                <td>{{ order.is_ordered }}</td>
                <td>{{ order.created_at }}</td>
                <td>
                        <div class="pl-3">
                            <form action="{% url 'adminn:process_order' order.id %}" method="post">
                              {% csrf_token %}
                              <div class="pb-2 ">
                              <button type="submit" class="btn btn-primary w-75">Process</button>
                            </div>
                            </form>
                            <form action="{% url 'adminn:ship_order' order.id %}" method="post">
                                {% csrf_token %}
                                <div class="pb-2 ">
                                <button type="submit" class="btn btn-success w-75">Ship</button>
                            </div>
                              </form>
                              <form action="{% url 'adminn:deliver_order' order.id %}" method="post">
                                {% csrf_token %}
                                <div class="pb-2">
                                <button type="submit" class="btn btn-warning w-75">Deliver</button>
                            </div>
                              </form>
                              <form action="{% url 'cancel_order' order_number=order.order_number %}" method="post">
                                {% csrf_token %}
                                <div class="pb-2">
                                <button type="submit" class="btn btn-danger w-75">Cancel</button>
                            </div>
                              </form>

                        </div>  
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
